CREATE TABLE  `PUBLIC`.`$store` (
  `id` int(10) unsigned NOT NULL auto_increment,
  `created_time` bigint(20) unsigned NOT NULL,
  `eventtype` varchar(256) NOT NULL,
  `system` varchar(256) default 'CEP',
  `xref` varchar(256) default NULL,
  `status` varchar(64) default 'NEW',
   `currstream` varchar(64) default 'START',
   $coldata
  `eventgroup` varchar(128) default NULL,
  `path` TEXT default NULL,
  PRIMARY KEY  (`id`)
) 