
public class ${name} extends org.ptg.util.AbstractOpencvProcessor{
public void processImage(IplImage imglast, final IplImage orig) {
${code}
}
public static void main(String[] args){
${name} testVar = new ${name}();
testVar.process();
}
}
