import org.ptg.eventloop.*;
import java.util.*;
import org.sikuli.script.Region ;
public class ${name} extends org.ptg.eventloop.AutomationHelper  {
public void run(java.util.Map<String,Object> ctx){
System.out.println("Going to execute \"run\" method in ${name} now");
Map<String,org.sikuli.script.Region> regions = new HashMap<>();
${precode}
${code}
}

public static void main(String[] args){
${name} testVar = new ${name}();
Map<String,Object> map = new HashMap<String,Object>();
testVar.run(map);
}

	public int parseInt(String str) {
		return Integer.parseInt(str);
	}


}
