body {
    background: #000 ;
    color: #111;
    font: 300 100.1% Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
   /* background-image:url(../../../images/caerusback.jpg) ;*/
    position:fixed;
    z-index: 1;

}
#layer2{
    
    z-index:2;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    position: absolute;
   height: 1000px;
    width: 600px;
    opacity:0.4;
    background-color: #ccffcc;
}

#mycanvas {
    height: 1000px;
    width: 600px;
    
    position: absolute;
 
    z-index: 1;
}
